@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.green {
    color: green;
    border: 2px solid green;
}

.orange {
    color: orange;
    border: 2px solid orange;
}

.red {
    color: red;
    border: 2px solid red;
}